.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  gap: 1rem;
}

.message {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.5rem;
}

.mutant {
  color: #1dd63f;
}

.not-mutant {
  color: #f00;
}
