.container ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  padding: 1rem 0;
}

.container a {
  text-decoration: none;
  font-weight: bold;
}

.active {
  color: #f00;
  text-decoration: underline !important;
}
